
.tagdetails-aui-inline-dialog .aui-inline-dialog-contents {
    // The <aui-inline-dialog> (in AUI version 8.1.0) doesn't auto-position if the height exceeds the top viewport.
    // The following height limits the dialog to an "always fit" size:
    //  - at the first commit in the commits-table
    //  - at the commit view page
    //  - at the last commit in a creation of a pull request
    max-height: 350px;
    // The following width is acceptable even the user works on a small screen, or works in a small browser window.
    max-width: 700px;
    overflow: auto;
}

.tagdetails-dialog {
    color: #333333;
}

/* Tag name, note namespace  */
.tagdetails-dialog-tag > div:nth-child(1), .tagdetails-dialog-note > div:nth-child(1) {
    font-weight: bold;
    padding-bottom: 6px;
}

/* Tag message, note message */
.tagdetails-dialog-tag div:nth-child(2) {
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: pre-wrap;  /* Keep line breaks. */
}

.tagdetails-dialog-tag hr {
    margin-bottom: 12px;
}

.tagdetails-dialog-tag td {
    font-family: Arial, sans-serif;
    white-space: nowrap;
    padding-top: 6px;
    padding-right: 10px;
    vertical-align: top;
    color: #333333;
}

.tagdetails-dialog-note pre {
    padding-top: 6px;
    font-family: Arial, sans-serif;
}

.commits-table {
    .bitbucket-tagdetails-notesColumn {
        display: none;
    }
    tbody {
        .bitbucket-tagdetails-notesColumn {
            text-align: center;
            white-space: nowrap;
            width: 1%;
            vertical-align: middle;
            padding-left: 0 !important;
        }
    }
}
