// Originally, the commits list on Pull Request page and Create Pull Request page have no tags. To make the soy .panel
// functional, the following Atlassian style classes are needed.
//

//
// Needed for BB tags-commit-list.less...
//

// From BB colors.less:
@ak-color-N0: #FFFFFF;
@ak-color-N30: #EBECF0;
// From BB global-colours.less:
@contentBackgroundColor: @ak-color-N0;
// From BB global-mixins.less:
.linear-gradient-horizontal(@firstColor: #FFF, @secondColor: #F2F2F2) {
    background-image: linear-gradient(to right, @firstColor, @secondColor);
}

//
// BB tags-commit-list.less itself
//

@fade-out-width: 32px; // same as BitBucket Cloud
@max-width: 150px; // same as BitBucket Cloud

.commits-table {

    // if the commit row has tags, then we don't show the fade gradient of the commit row itself, and we add our own
    // in front of the tags container
    .commit-row.has-tags .message::after {
        background: inherit;
        position: static;
        width: 0;
        height: 0;
    }

    .message {
        .tags-container {
            position: absolute;
            right: 0;

            &::before {
                .linear-gradient-horizontal(fade(@contentBackgroundColor, 0), @contentBackgroundColor);
                bottom: 0;
                display: block;
                content: "";
                left: -@fade-out-width;
                position: absolute;
                top: 0;
                width: @fade-out-width;
            }
        }

        .tag.ref-label {
            max-width: @max-width;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    tr {
        &.focused,
        &:hover {
            .message .tags-container::before {
                .linear-gradient-horizontal(fade(@ak-color-N30, 0), @ak-color-N30);
            }
        }
    }
}

//
// Needed for ref-label.less...
//

// From BB colors.less:
@ak-color-N50: #C1C7D0;
@ak-color-N500: #42526E;

// From BB global-variable.less:
@baseBorderRadius: 3px;
// ONLY used for 'graphical' elements like lozenges. Code snippets should just be font-family: monospace;
@monospaceFontStack: Courier, "Courier New", monospace;
@iconSizeSmall: 16px;

// From BB global-mixins.less:
// Requires explicit width and inline-block or block to work
.text-overflow() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

//
// BB ref-label.less itself
//

.ref-label {
    align-items: center;
    border: 1px solid @ak-color-N50;
    border-radius: @baseBorderRadius;
    background: @ak-color-N0;
    color: @ak-color-N500;
    display: inline-flex;
    font-family: @monospaceFontStack;
    font-size: 13px;
    text-transform: none;
    line-height: 99%; /* cross-browser compromise to make the line-height match the font-size */
    margin: 0 3px;
    padding: 2px 5px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;

    .aui-icon {
        min-width: (@iconSizeSmall + 2px); // Override AUI with and set 18px width
    }

    a {
        .text-overflow();
        flex: 0 1 auto;
    }
}
